body{
    background-color: white;
}

h1{
    text-align: center;
    font-family: cursive;
}

button{
    background-color: white;
    color: grey;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-width: 3px;
    margin: 5px;
    border-color: grey;
}
#controls{
    text-align: center;
}

.rowDiv{
    margin: 0px;
    padding: 0px;
    height: 5px;
   
}
.squareDiv{
    margin: 0px;
    padding: 0px;
    height: 5px;
    width: 5px;
    color: blue;
   
}
#container{
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    border-color: black;
    display: block;
    border-style: solid;
    border-width: 2px;
}
.activeMouseBlack {
    background-color: black;
}

.activeMouseDarker {
    background-color: green;
    opacity: +=0%;
    color:  pink;
}

.activeMouseColor {
    background-color:  pink;
}

